body{

    background-color: #ffffff;
    font-family: sans-serif;
}
#cabecera{
    background-color: #37a1b4;
 
}


#menu{
 background-color: rgb(0, 0, 0);

 
}

#menu ul{
   
    margin: 0;
    padding: 0;
    list-style: none;
   

}

#menu ul li{
  
    display: inline-block;
 
}
#menu ul li a{
    
    display: block;
    padding: 20px 4.232cm;
    color: white;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: #00d000;
    color: rgb(255, 255, 255);
}

#cuerpo{
    padding-left: 15px;
    padding-right: 15px;
}